@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

:root {
    --fonte-principal: "Sriracha", cursive;
    --fonte-secundaria: 'Passion One', Sans-serif;

}

html, body {
    min-height: 100vh;
    font-family: var(--fonte-principal);
    background-color: white;
}

header {
    background-color: black;
    text-align: center;
    padding: 20px;
    font-family: var(--fonte-secundaria);

}

header h1 {
    color: white;
    padding: 10px;
    font-weight: bolder;
    font-size: 10vw;
    font-variant: small-caps;
}

header p {
    color: white;
    font-size: 1.5em;
}

header a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

section {
    padding: 30px;
    line-height: 2em;
    font-size: 3.5vw;
}

section.normal {
    background-color: white;
}

section.normal p {
    margin-bottom: 2em;
}

section#img01 {
    background: white url(images/background001.jpg) center no-repeat fixed;
    background-size: cover;
}

section#img02 {
    background: white url(images/background002.jpg) center no-repeat fixed;
    background-size: cover;
}

section.imagem {
    box-shadow: inset 2px 6px 13px rgba(0, 0, 0, 0.422);
}


section.imagem p {
    color: white;
    background-color: rgba(0, 0, 0, 0.295);
    width: 14em;
    border-radius: 10px;
    text-shadow: 1px 1px 3px black;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 1.2em;
}


